<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {include file="public/head" /}
    <script type="text/javascript" charset="utf-8" src="__STATIC__/admin/UEditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="__STATIC__/admin/UEditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="__STATIC__/admin/UEditor/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<!--头部栏目-->
{include file="public/menu" /}
<!--中间内容-->
<div class="admin_main">
    <div class="content_box">
        <div class="admin_left_nav">
            {volist name="indexnav" id="indexnav"}
            {if($indexnav.model==4)}
            <a href="{:url('nav/edit',['id'=>$indexnav.id])}" class="nav" style="color: red">{$indexnav.name}</a>
            {else}
            <a href="{:url('content/content',['id'=>$indexnav.id])}" class="nav {if ($indexnav.id==$curnav)}navcur{/if}">{$indexnav.name}</a>
            {/if}
            {/volist}
        </div>
        <div class="admin_content">
            <div class="container">
                <blockquote class="layui-elem-quote">修改内容</blockquote>
                <form class="layui-form menu_form" method="post">
                    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                        <ul class="layui-tab-title">
                            <li class="layui-this">常规配置</li>
                            <li>SEO配置</li>
                            <li>其他配置</li>
                            <button lay-submit lay-filter="menu" type="submit" class="layui-btn layui-btn-normal layui-btn-sm top_submit">立即提交</button>
                        </ul>
                        <div class="layui-tab-content">
                            <input type="hidden" name="__token__" value="{$Request.token}" />
                            <!--基本配置-->
                            <div class="layui-tab-item layui-show">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">标题</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="title" value="{$content.title}" id="title" lay-verify="title" placeholder="栏目标题" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux"></div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">封面图片</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="pic" id="pic"  value="{$content.pic}" lay-verify="pass" placeholder="上传图片" autocomplete="off" class="layui-input">
                                    </div>
                                    <button type="button" class="layui-btn" id="logoup">上传图片</button>
                                </div>
                                {if($content.pic)}
                                <div class="layui-form-item" id="imgshow">
                                    <label class="layui-form-label"></label>
                                    <div class="layui-input-inline">
                                        <div class="layui-upload-list" style="margin: 0;">
                                            <img class="layui-upload-img" src="{$content.pic}" height="50" id="logo1">
                                            <p id="demoText"></p>
                                        </div>
                                    </div>
                                </div>
                                {/if}
                                <div class="layui-form-item">
                                    <label class="layui-form-label">发布时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="create_Time" class="layui-input" id="test5" value="{$content.create_Time|date='Y-m-d H:i:s',###}" placeholder="{}yyyy-MM-dd HH:mm:ss">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">时间选择器</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">排序</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="sort" value="{$content.sort}" placeholder="栏目排序" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">不支持负数</div>
                                </div>

                                {volist name="field" id="field"}
                                {$field.type}
                                {/volist}

                            </div>
                            <!--SEO配置-->
                            <div class="layui-tab-item seotit">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">标题</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="seo_title"  value="{$content.seo_title}" placeholder="SEO标签标题" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">title</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">关键词</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="seo_keywords"  value="{$content.seo_keywords}" placeholder="keywords关键词" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">keywords 词间' , '分割</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">描述</label>
                                    <div class="layui-input-inline">
                                        <textarea placeholder="description描述" name="seo_description" class="layui-textarea">{$content.seo_description}</textarea>
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">description</div>
                                </div>
                            </div>
                            <!--其他配置-->
                            <div class="layui-tab-item">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">点击数</label>
                                    <div class="layui-input-inline">
                                        <input type="number" name="click"  placeholder="点击数" autocomplete="off" value="{$content.click}" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux">默认为0</div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">推荐</label>
                                    <div class="layui-input-inline">
                                        <input type="checkbox" name="reco" value="1" {if($content.reco)}checked=""{/if} lay-skin="switch" lay-text="ON|OFF">
                                    </div>
                                    <div class="layui-form-mid layui-word-aux"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['jquery','form','element', 'layedit','upload','laydate'], function() {
        var form = layui.form
            , layer = layui.layer
            , jquery = layui.jquery
            , element = layui.element
            , upload = layui.upload
            , layedit = layui.layedit
            , laydate = layui.laydate;
        laydate.render({
            elem: '#test5'
            ,type: 'datetime'
        });
        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 1){
                    return '标题总得写点什么吧';
                }
            },
        });
        form.on('submit(menu)', function(data){
            var data = data.field; //当前容器的全部表单字段，名值对形式：{name: value}
            jquery.ajax({
                type:"post",
                url :"{:url('content/update',['id'=>$content.id])}",
                data:data,
                success:function (msg) {
                    if(msg==1){
                        layer.alert('数据保存成功!', {
                            skin: 'layui-layer-lan' //样式类名
                            ,closeBtn: 0
                        }, function() {
                            location.href="{:url('content/content',['id'=>$curnav])}";
                        })
                    }else if(msg==2){
                        layer.msg('验证器不通过!', {icon: 5});
                    }else if(msg==0){
                        layer.msg('数据保存失败!', {icon: 5});
                    }else{
                        layer.msg('系统繁忙!', {icon: 5});
                    }
                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。

        });
        //普通图片上传
        var uploadInst = upload.render({
            elem: '#logoup'
            , url: '{:url("uploads/uploads_img")}'
            , before: function (obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function (index, file, result) {
                    $('#logo1').attr('src', result); //图片链接（base64）
                });
            }
            , done: function (res) {
                //如果上传成功
                if (res.code == 1) {
                    $("#imgshow").show();
                    $("#pic").val(res.img_url);
                    layer.msg('上传成功!', {icon: 1});
                }
                if(res.code == 0){
                    layer.msg(res.error, {icon: 5});
                }

            }
            , error: function () {
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function () {
                    uploadInst.upload();
                });
            }
        });
        //多图片上传
        upload.render({
            elem: '#test2'
            ,url: '{:url("uploads/uploads_img")}'
            ,multiple: true
            ,before: function(obj){
                layer.msg('图片上传中...', {
                    icon: 16,
                    shade: 0.01,
                    time: 0
                })

            }
            ,done: function(res){
                //上传完毕
                layer.close(layer.msg());//关闭上传提示窗口
                var val = $("#piclist").val()
                $("#piclist").val(val + res.img_url +"|||");
                $('#demo2').append('<div class="images_list_box"><i class="layui-icon layui-icon-left img_left"></i><i class="layui-icon layui-icon-delete img_del"></i><img src="'+ res.img_url +'"  class="layui-upload-img"></div>')

                $(".img_del").click(function () {
                    var box=$(this).parent();  //获取按钮的父元素
                    var src = box.children(".layui-upload-img").attr("src");
                    var val = $("#piclist").val()
                    $("#piclist").val(val.replace(src+"|||",""));
                    $(this).parent().remove();
                })
                $('.img_left').click(function(){
                    var box=$(this).parent();  //获取按钮的父元素
                    var boxp=box.prev();
                    var val = $("#piclist").val();
                    var psrc = boxp.children(".layui-upload-img").attr("src");
                    var tsrc = box.children(".layui-upload-img").attr("src");
                    var yimgsrc = psrc+"|||"+tsrc+"|||";
                    var imgsrc = tsrc+"|||"+psrc+"|||";
                    $("#piclist").val(val.replace(yimgsrc,imgsrc));
                    box.insertBefore(boxp)
                });
            }
        });

    })
    $(".img_del").click(function () {
        var box=$(this).parent();  //获取按钮的父元素
        var src = box.children(".layui-upload-img").attr("src");
        var val = $("#piclist").val()
        $("#piclist").val(val.replace(src+"|||",""));
        $(this).parent().remove();
    })
    $('.img_left').click(function(){
        var box=$(this).parent();  //获取按钮的父元素
        var boxp=box.prev();
        var val = $("#piclist").val();
        var psrc = boxp.children(".layui-upload-img").attr("src");
        var tsrc = box.children(".layui-upload-img").attr("src");
        var yimgsrc = psrc+"|||"+tsrc+"|||";
        var imgsrc = tsrc+"|||"+psrc+"|||";
        $("#piclist").val(val.replace(yimgsrc,imgsrc));
        box.insertBefore(boxp)
    });
</script>





















</body>
</html>