<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{if(isset($content.title))}{$content.title}{else}{hs:navcon id="$navid"}{$navcon.name}{/hs:navcon}{/if} - {hs:seo name='seo_title'/}</title>
    <meta name="keywords" content="{hs:seo name='seo_keywords'/}">
    <meta name="description" content="{hs:seo name='seo_description'/}">
    <meta name="viewport" content="width=640,user-scalable=no">
    <!--主要样式-->
    <link rel="stylesheet" href="__INDEX__/wap/commons/css/mdui.css">
    <link rel="stylesheet" href="__INDEX__/wap/commons/css/app.css">
    <link rel="stylesheet" href="__INDEX__/wap/commons/css/common.css">
    <link rel="stylesheet" href="__INDEX__/wap/css/swiper.css">

    <script type="text/javascript" src="__INDEX__/wap/js/swiper.js"></script>
    <style>
        .list_pic>a>div:nth-child(2){
            color: #fff;
            background:#71CBD6;
        }
        .f_menu{
            background:rgba(241,220,113,1);
        }
        .list_pro>a>div:nth-child(4){
            color: #fff;
            background: #71CBD6;
        }
        .pic_pic_s .swiper-pagination-bullet-active{
            background: #71CBD6;
        }
        .n_logo{
            background:rgba(113,203,214,1);
        }
    </style>
</head>
<body class="drawer drawer-right">
<!--头部-->
<div class="top">
    <!--返回按钮-->
    <div class="tim" onClick="javascript :history.back(-1);"></div>
    <div class="dqlm">
        {hs:navcon id="$navid"}
        {$navcon.name}
        {/hs:navcon}
    </div>
    <!-- 栏目开关 -->
    <div class="drawer-toggle drawer-hamberger mdui-btn app-btn" mdui-drawer="{target: &#39;#left-drawer&#39;}">
        <span></span>
    </div>


</div>

<!--隐藏栏目-->


<div class="mdui-drawer mdui-drawer-right mdui-drawer-close" id="left-drawer">

    <ul class="mdui-list app-slide-menu app-collapse-menu" mdui-collapse="{accordion: true}">
        <li class="mdui-list-item mdui-ripple app-list-home ">
            <a href="/" class="app-list-item-link mdui-text-left ">
                <div class="mdui-list-item-content">
                    <i class="mdui-list-item-icon mdui-icon material-icons">
                        
                    </i>网站首页
                </div>
            </a>
        </li>
        {hs:nav limit="10"}
        <li class="mdui-collapse-item  app-hide-list  app-collapse-list">
            <div class="mdui-collapse-item-header mdui-list-item mdui-ripple  mdui-p-x-0">
                <div class="menu-click mdui-list-item-content mdui-text-left" onclick="">
                    <a href="{$nav.url}">{$nav.name}</a>
                    <i class="mdui-collapse-item-arrow mdui-icon material-icons mdui-float-right">
                        
                    </i>
                </div>
            </div>
            <ul class="mdui-collapse-item-body mdui-list mdui-list-dense">
                {hs:navsub pid="$nav['id']" limit="10" order=""}
                <li class="mdui-list-item mdui-ripple app-sub-list  app-hide-list">
                    <a href="{$navsub.url}" class="app-list-item-link mdui-text-left">
                        {$navsub.name}
                    </a>
                </li>
                {/hs:navsub}
            </ul>
        </li>
        {/hs:nav}
    </ul>
</div>

<!--内页logo-->
<div class="n_logo">
    <a href=""><img src="{hs:config name='map_logo'/}" alt=""></a>
</div>
<!--内页子栏目-->
<div class="common_nav">
    {hs:navsub pid="$topnav" limit="10" order=""}
    <div class="title"><a href="{$navsub.url}">{$navsub.name}</a></div>
    {/hs:navsub}
</div>
<!--内容部分-->
<div class="comm_main">
    {block name="main"}

    {/block}
</div>
<!--最新推荐-->
<div class="zxtj">
    <div>最新推荐</div>
    <div><span>THE LATEST</span></div>
</div>
<div class="list_zx">
    {hs:list nid="5" order="create_Time desc" limit="4" reco="0" pagesize=""}
    <a href="{$list.url}">
        <div class="left"><img src="{$list.pic}" alt=""></div>
        <div class="right">
            <div>{$list.title}</div>
            <div>{$list.content.desc}</div>
        </div>
        <div style="clear: both"></div>
    </a>
    {/hs:list}
</div>

<!--撑起高度-->
<div style="height: 120px"></div>







<!--底部按钮-->
<div class="f_menu">
    <a href="/">
        <div><img src="__INDEX__/commons/images/ff1.png" alt=""></div>
        <div>首页</div>
    </a>
    {hs:navcon id="6"}
    <a href="{$navcon.url}">
        <div><img src="__INDEX__/commons/images/ff2.png" alt=""></div>
        <div>项目</div>
    </a>
    {/hs:navcon}
    {hs:navcon id="4"}
    <a href="{$navcon.url}">
        <div><img src="__INDEX__/commons/images/ff4.png" alt=""></div>
        <div>康复</div>
    </a>
    {/hs:navcon}
    <a href="tel:{hs:debris title='phone' /}">
        <div><img src="__INDEX__/commons/images/ff3.png" alt=""></div>
        <div>电话</div>
    </a>
</div>


<script src="__INDEX__/wap/commons/js/mdui.js"></script>


<script type="text/javascript">
    //打开隐藏栏目
    $(document).ready(function(){
        $('.drawer').drawer();
    });
    $(function () {
        $("a").click(function () {
            $("body").hide(1000);
        })
    })
</script>
<!-- 代码 结束 -->
</body>
</html>