<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {include file="public/head" /}
</head>
<body>
{include file="public/menu" /}
<!--中间内容-->
<div class="admin_main">
    <div class="container">
        <blockquote class="layui-elem-quote">调用代码</blockquote>
        <div style="font-size: 20px">
            {$datadm}
        </div>
    </div>
</div>
<script>
    layui.use(['jquery','form', 'layedit'], function() {
        var form = layui.form
            , layer = layui.layer
            , jquery = layui.jquery
            , layedit = layui.layedit;
        //自定义验证规则
        form.verify({
            name: function(value){
                if(value.length < 1){
                    return '名称总得写点什么吧?';
                }
            },
            bname: function(value){
                if(value.length < 1){
                    return '数据表必填';
                }
            },
        });
        form.on('submit(menu)', function(data){
            var data = data.field; //当前容器的全部表单字段，名值对形式：{name: value}
            jquery.ajax({
                type:"post",
                url :"{:url('form/save')}",
                data:data,
                success:function (msg) {
                    if(msg==1){
                        layer.alert('添加成功!', {
                            skin: 'layui-layer-lan' //样式类名
                            ,closeBtn: 0
                        }, function() {
                            location.href="{:url('form/index')}";
                        })
                    }else if(msg==0){
                        layer.msg('系统繁忙!', {icon: 5});
                    }else if(msg==2){
                        layer.msg('数据表名字重复!', {icon: 5});
                    }
                }
            })
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    })
</script>




















</body>
</html>